.section#section4 {
  display: flex;
}

.section#section4 #left-side {
  height: 100vh;
  background: #C7B299;
  width: 70vw;
}

.section#section4 #left-side #sec-unsdg {
    height: 96vh;
    display: flex;
    flex-direction: column;
}

.section#section4 #right-side {
  height: 100vh;
  background: #B9B0A4;
  width: 30vw;
  display: flex;    
  flex-direction: column;
  text-align: left;
  font-family: 'Roboto';
}

.section#section4 #main-text {
    font-family: 'Roboto Mono', MONOSPACE;
    font-size: 3vw;
    text-align: left;
    margin: auto 0px;
}

.section#section4 .highlight {
  color: white;
  display: inline-block;
}

.section#section4 #main-graphs {
    margin-top: 5vh;
    font-family: 'Roboto';
}

.section#section4 #main-graphs #head, .section#section4 #main-graphs .mg-item-label {
    margin: auto 0px;
    font-size: 1.1rem;
}

.section#section4 #main-graphs #head, .section#section4 #main-graphs path.mg-main-area {
  opacity:.9 !important;
}

.section#section4 #main-graphs #head, .section#section4 #main-graphs path.mg-main-line.mg-line1 {
  stroke: white !important;
  stroke-width: 2px !important;
}

.section#section4 #main-graphs #head, .section#section4 #main-graphs .mg-item-graph {
    margin: auto auto;
}

.section#section4 #main-graphs #head, .section#section4 #main-graphs #grid-graphs {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 25vw);
    grid-gap: 0.1vw 4vw;
}

.section#section4 #main-graphs #head #ind {
    font-size: 1.1rem;
}

.section#section4 #main-graphs #head #ind-num {
    font-weight: bold;
    display: inline-block;
}

.section#section4 #main-graphs .mg-header {
  font-style: italic;
  font-size: .95rem;
  font-weight: 300;
} 

.section#section4 #main-graphs #grid-graphs {
}

.section#section4 #main-graphs #grid-container {
    margin-top: 1vh;
    overflow-y: scroll;
    height: 14vh;
}

.section#section4 #right-side .filter {
    margin: auto 15px;
    width: auto;
}

.section#section4 #right-side .label, .section#section4 #right-side .default {
  font-style: italic;
  font-size: .95rem;
  font-weight: 300;
  display: inline-block;
}

.section#section4 #right-side .value {
  font-weight: bold;
  display: inline-block;
  float: right;
  font-family: "source sans pro";
}

.section#section4 #right-side .default {
  display: none;
  float: right;
  margin-left: 30px;
}

.section#section4 #right-side .modified {
  display: inline-block;
  cursor: pointer;
}

.section#section4 #right-side .control {
  margin: 10px auto;
}

.section#section4 #right-side #goal .control {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section#section4 #right-side #goal .control .lvl {
  height: calc(65px * .9);
  margin-top: auto;
  background-color: white;
}

.section#section4 #right-side #goal .control .item{
    height: 65px;
    width: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1.2px solid white;
}

.section#section4 #right-side #country .control #Layer_1 {
  stroke-width: 4px;
}

.section#section4 #right-side #year .control-tick-labels {
  display: flex;
  margin-bottom: 15px;
}

.section#section4 #right-side #year .control-tick-labels :first-child {
  margin-right: auto;
}

.section#section4 #right-side #year .control-tick-label {
    transform: rotate(-45deg);
    width: min-content;
    display: inline-block;
    font-size: .8rem;
}


 #right-side .ui-slider-horizontal {
  width: 96%;
  transform: translateX(5px);
  height: 2px;
  cursor: pointer;
  background: black !important;
  border: 0px;
}

 #right-side .ui-slider-handle {
  border: 1px solid white !important;
  height: 10px !important;
  width: 10px !important;
  background: black !important;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
