.section#section4 {
  display: flex;
}

.section#section4 #right-side {
  height: 100vh;
  background: #C7B299;
  width: 70vw;
}

.section#section4 #left-side {
  height: 100vh;
  background: #B9B0A4;
  width: 30vw;
  display: flex;    
  flex-direction: column;
  text-align: left;
}

.section#section4 #main-text {
    font-size: 4vw;
    text-align: left;
    margin-top: 5vh;
}

.section#section4 .highlight {
  color: white;
  display: inline-block;
}

.section#section4 #main-graphs {
    margin-top: 5vh;
}

.section#section4 #main-graphs #head, .section#section4 #main-graphs #grid-graphs {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 25vw);
    grid-gap: 1vw;
}

.section#section4 #main-graphs #head #ind {
}

.section#section4 #main-graphs #head #ind-num {
    font-weight: bold;
    display: inline-block;
}

.section#section4 #main-graphs .mg-header {
  font-style: italic;
  font-size: .95rem;
} 

.section#section4 #main-graphs #grid-graphs {
}

.section#section4 #main-graphs #grid-container {
    margin-top: 1vh;
}

.section#section4 #left-side .filter {
    margin: auto 15px;
    width: auto;
}

.section#section4 #left-side .label, .section#section4 #left-side .default {
  font-style: italic;
  font-size: .95rem;
  display: inline-block;
}

.section#section4 #left-side .value {
  font-weight: bold;
  display: inline-block;
  float: right;
}

.section#section4 #left-side .default {
  display: none;
  float: right;
  margin-left: 30px;
}

.section#section4 #left-side .modified {
  display: inline-block;
  cursor: pointer;
}

.section#section4 #left-side .control {
  margin: 10px auto;
}

.section#section4 #left-side #goal .control {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.section#section4 #left-side #goal .control .lvl {
  height: calc(65px * .9);
  margin-top: auto;
  background-color: white;
}

.section#section4 #left-side #goal .control .item{
    height: 65px;
    width: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1.2px solid white;
}

.section#section4 #left-side #year .control-tick-labels {
  display: flex;
}

.section#section4 #left-side #year .control-tick-labels :first-child {
  margin-right: auto;
}

.section#section4 #left-side #year .control-tick-label {
    transform: rotate(-45deg);
    width: min-content;
    display: inline-block;
    font-size: .8rem;
}


 #left-side .ui-slider-horizontal {
  width: 96%;
  transform: translateX(5px);
  height: 2px;
  cursor: pointer;
  background: black !important;
  border: 0px;
}

 #left-side .ui-slider-handle {
  border: 1px solid white !important;
  height: 10px !important;
  width: 10px !important;
  background: black !important;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
